<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <main>
        <!-- LOGIN SECTION -->
        <section>
            <h1>Login</h1>
            <form action="#" method="POST" class="forms">
                <!-- EMAIL -->
                <label><span>Email Address: </span><input type="text" name="email" /></label>
                <!-- PASSWORD -->
                <label><span>Password: </span><input type="password" name="password" /></label>
                <!-- SUBMIT -->
                <input class="submit" type="submit" value="Login" />
            </form>
        </section>
        <!-- REGISTER SECTION -->
        <section>
            <h1>Register</h1>
            <form action="#" method="POST"  class="forms">
                <!-- FIRST NAME -->
                <label><span>First Name: </span><input type="text" name="first_name" /></label>
                <!-- LAST NAME -->
                <label><span>Last Name: </span><input type="text" name="last_name" /></label>
                <!-- EMAIL ADDRESS -->
                <label><span>Email Address: </span><input type="email" name="email" /></label>
                <!-- PASSWORD -->
                <label><span>Password: </span><input type="password" name="password" /></label>
                <!-- CONFIRM PASSWORD -->
                <label><span>Confirm Password: </span><input type="password" name="confirm_password" /></label>
                <!-- SUBMIT -->
                <input class="submit" type="submit" value="Register" />
            </form>
        </section>
    </main>
</body>
</html>